.highscores {
    color: rgb(231, 189, 4);
    background-image: linear-gradient(rgb(65, 163, 255), rgb(15, 0, 36));
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 200%;
}

#scores {
    width: 100%;
    font-size: 100%;
    color: rgb(204, 228, 250);
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
}
