* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 120%;
}


.container {
    background-image: linear-gradient(rgb(65, 163, 255), rgb(15, 0, 36));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#highscore-btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(68, 0, 255);
    background-color: rgb(231, 189, 4);
    padding: 4px;
    border-radius: 7px;
    font-size: 65%;
    text-decoration: none;
}


#start-btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(168, 168, 168, 0.5);
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 7px;
    font-size: 125%;
    text-decoration: none;
}


#highscore-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1.5rem 0 rgb(231, 189, 4);
    transition: transform 100ms;
    transform: scale(1.17);
    background-color: rgb(204, 228, 250);
    color: rgb(90, 90, 90);
}


#start-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 18px 0 rgb(231, 189, 4);
    transition: transform 100ms;
    transform: scale(1.07);
    color: white;
    background-color: green;
}


h1 {
    color: rgb(231, 189, 4);
    font-size: 400%;
    margin-bottom: 50px;
    margin-top: 50px;
}


h2 {
    color: white;
    font-size: 175%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choice-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(204, 228, 250);
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 18px 0 rgb(231, 189, 4);
    transition: transform 100ms;
}

.choice-prefix {
    color: rgb(15, 0, 36);
    padding: 5px;
}

.choice-text {
    color: rgb(112, 92, 0);
    padding: 5px;
}

#question {
    color: rgb(231, 189, 4);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 175%;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#timer {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 55%;
}

#display {
    display: flex;
    justify-content: space-between;
}

#display-item {
    text-align: center;
}

.correct {
    background: yellowgreen;
}

.incorrect {
    background: red;
}

.highscores {
    color: rgb(231, 189, 4);
    background-image: linear-gradient(rgb(65, 163, 255), rgb(15, 0, 36));
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 200%;
}

#scores {
    width: 100%;
    font-size: 100%;
    color: rgb(204, 228, 250);
}

h3 {
    font-family: sans-serif;
    font-size: 350%;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 480px;
    }
}


/* footer {
    display: flex;
    justify-content: center;
    color: white;
} */