.choice-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    font-size: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 18px 0 rgb(231, 189, 4);
    transition: transform 100ms;
    transform: scale(1.17);
    color: blue;
    background-color: white;
}

.choice-prefix {
    color: rgb(231, 189, 4);
    text-align: center;
    padding: 5px;
}

.choice-text {
    color: rgb(231, 189, 4);
    text-align: center;
    padding: 5px;
}

#question {
    color: rgb(231, 189, 4);
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 175%;
}

#timer {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 55%;
}

#display {
    display: flex;
    justify-content: space-between;
}

#display-item {
    text-align: center;
}

.correct {
    background-color: yellowgreen;
}

.incorrect {
    background-color: red;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 480px;
    }
}