.choice-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    font-size: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 18px 0 rgb(231, 189, 4);
    transition: transform 100ms;
    transform: scale(1.17);
    color: blue;
    background-color: white;
}

.choice-prefix {
    padding: 10px;
    color: white;
    text-align: center;
}